@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Krona+One&display=swap');

:root{
    --cor-primaria: #FFFFFF;
    --cor-secundaria: #C0C0C0;
    --cor-botao: #167bf7;
    --cor-fundo: #00030C;
    --fonte-primaria: 'Inter', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--cor-fundo);
    color: var(--cor-primaria);
    font-family: var(--fonte-primaria);
    font-size: 16px;
    font-weight: 400;
    
}

.principal {
    background-image: url("/projeto2/assets/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container{
height: 100vh;
display: grid;
grid-template-columns: 50% 50%;
}

.container__caixa{
    margin: 0 6em;
}

.container__titulo{
    font-size: 1.75rem;
    font-weight: 700;
}

.container__imagem{
    margin: 1em 0 2em 0;
}

.container__botao{
    background-color: var(--cor-botao);
    border-radius: 5px;
    padding: 1em;
    text-decoration: none;
    color: var(--cor-primaria);
    display: block;
    margin-bottom: 1em;
}

.botao_secundario{
    background-color: transparent;
    border: 2px solid var(--cor-primaria);
}

.container__aviso{
    font-size: 0.75rem;
    color: var(--cor-secundaria);
    


}

.secundario{
    align-items: center;
    margin: 0 10em;
}

.secundario__imagem{
    width: 70%;
}

.descricao__titulo{
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 0.1em;
}

.descricao__texto{
    color: var(--cor-secundaria);

}

.secundario__botao{
    display: inline-block;
    margin-top: 1em;
}

.container__descricao{
    padding: 2em;
}

.dispositivos{
    text-align: center;


}

.dispositivos__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.dispositivos__titulo{
    font-size: 3rem;
    color: var(--cor-primaria);
}

.lista__item{
    font-size: 2rem;
    color: var(--cor-primaria);
}

.rodape{
    text-align: center;
    margin: 5em 3em;


}

.rodape__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;
}

.lista__link a{
    margin-left: 1em;
    text-decoration: none;
    color: var(--cor-primaria);
}

.rodape__texto{
    font-size: 0.875rem;
    margin: 1em 0;
    color: var(--cor-secundaria);
}
.lista__link a:hover{
    color: var(--cor-botao);
}